nav {
    box-shadow: 0 3px #040959 ;
    background-color: #F2F2F2;
}
a {
    color: black;
}
.a4 {
    position: absolute; 
    right: 80px;
    }
.a5 {
    position: absolute; 
    right: 20px;
    }