.container{
    padding: 5% 5%;
    text-align:center;
}

.card{
    padding : 5% 5%;
    background-color: #F2F2F2;
    box-shadow: 0 3px #040959;
    color: #0D0D0D;
}

.btnn{
    width: 50%;
    background-color: #040959;
    border-color: #040959;
    color: white;
    margin-bottom: 5%;
}

.btnn:hover{
    background-color: #020633;
    border-color: #020633;
}