<navbar></navbar>
<div class="container">
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <td colspan="5">    
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2 search" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0 butn" type="submit">Search</button>
          </form>
        </td>
      </tr>
      <tr>
        <th class="tdId" scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">Add to list</th>
        <th scope="col">Delete from list</th>
      </tr>
    </thead>
    <tbody>
      <tr class="tr">
        <th class="tdId" scope="row">1</th>
        <td>Mark</td>
        <td>Active</td>
        <td class="tdd"><button class="btn btn-outline-success my-2 my-sm-0 btnn" type="submit">Add</button></td>
        <td class="tdd"><button class="btn btn-outline-danger my-2 my-sm-0 btnn" type="submit">Delete</button></td>
      </tr>
      <tr class="tr">
        <th class="tdId" scope="row">2</th>
        <td>Jacob</td>
        <td>Active</td>
        <td class="tdd"><button class="btn btn-outline-success my-2 my-sm-0 btnn" type="submit">Add</button></td>
        <td class="tdd"><button class="btn btn-outline-danger my-2 my-sm-0 btnn" type="submit">Delete</button></td>     
      </tr>
      <tr class="tr">
        <th class="tdId" scope="row">3</th>
        <td>Larry</td>
        <td>Active</td>
        <td class="tdd"><button class="btn btn-outline-success my-2 my-sm-0 btnn" type="submit">Add</button></td>
        <td class="tdd"><button class="btn btn-outline-danger my-2 my-sm-0 btnn" type="submit">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>