<navbar></navbar>

<alert [class.d-none]=ky></alert>

  <div class="container con">
    <div class="card" id="card">
      <h3>Add Employee</h3>
      <form [formGroup]="addEmployeeForm" (ngSubmit)='onSubmit()'>
        <div>
          <div class="ti">Employee Info:</div>

          <div class="form-group to">
            <input [class.errr]='name.invalid && name.touched'  formControlName="name" type="text" class="form-control" name="name" id="name" placeholder="Enter Employee Name">
            <small [class.d-none]='name.valid || name.untouched' class="text-danger"> Employee's Name is required</small>
          </div>

          <div class="form-group to">
            <input [class.errr]='salary.invalid && salary.touched'  formControlName="salary" type="number" class="form-control" name="salary" id="salary" placeholder="Enter Employee Salary" required>
            <small [class.d-none]='salary.valid || salary.untouched' class="text-danger"> Employee's Salary is required</small>
          </div>

          <div class="form-group to">
              <select [class.errr]='dev.invalid && dev.touched'  formControlName="dev" name="dev" id="dev">
                <option value="" disabled selected>Select your option</option>
                <option value=true class="des">Developer</option>
                <option value=false class="des">Not Developer</option>
              </select>
              <small [class.d-none]='dev.valid || dev.untouched' class="text-danger">Please choose one</small>
          </div>

          <div class="form-group to">
            <input [class.errr]='birthdate.invalid && birthdate.touched'  formControlName="birthdate" type="text" name="birthdate" id="birthdate" class="form-control"  onfocus="(this.type='date')" placeholder="Enter Employee Birthdate" required>
            <small [class.d-none]='birthdate.valid || birthdate.untouched' class="text-danger"> Employee's Birthdate is required</small>
          </div>
        </div>

        <div>
          <div class="ti too">Employee Projects: <span (click)='addProject()' class="badge badge-pill badge-warning">Add another Project</span></div>
          
          <div class="tat" *ngFor="let idd of idp.controls; let i=index ; let na of namep.controls; let j=index ;  let st of startp.controls; let l=index">
            
            <div formArrayName="idp" class="form-group to">
              <input [formControlName] ='i' type="number" name="idp" id="idp" class="form-control" placeholder="Enter Project ID" required>
            </div>

            <div formArrayName="namep" class="form-group to">
              <input [formControlName] ='j' type="text" name="namep" id="namep" class="form-control" placeholder="Enter Project Name" required>
            </div>

            <div formArrayName="startp" class="form-group to">
              <input [formControlName] ='l' type="text" name="startp" id="startp" class="form-control" onfocus="(this.type='date')" placeholder="Enter Project Start Date" required>
            </div>

          </div>

        </div>
        <button [disabled]='name.invalid || salary.invalid || birthdate.invalid || dev.invalid' type="submit" class="btn btn-primary btnn">Add</button>
      </form>
    </div>
  </div>