input{
    background-color: #ffffff00;
    border: none;
    border-bottom: #cecece 1px solid;
    border-radius: 0;
}

input:focus {
    background-color: #ffffff00;
    box-shadow: none;
    border-bottom: #040959 2px solid
}

.container{
    padding: 5% 20%;
    text-align:center;
}

.card{
    padding : 5% 10%;
    background-color: #F2F2F2;
    box-shadow: 0 3px #040959;
    color: #0D0D0D;
}

h3{
    padding-bottom: 5%;
}

.btn{
    background: #040959;
    border: #040959;
    width: 100%;
    margin-top: 3%;
}