<div class="container">
  <div class="card">
    <h3>Register</h3>
    <form [formGroup]="addAdminForm" (ngSubmit)=registerUser()>
      <div class="form-group">
        <label for="name">Full Name</label>
        <input formControlName="name" type="text" class="form-control" id="name" placeholder="Enter your full name" required >
      </div>
      <div class="form-group">
        <label for="phone">Phone number</label>
        <input formControlName="phone" pattern="(009665|9665|\+9665|05|5)(5|0|3|6|4|9|1|8|7)([0-9]{7})" title="Enter a valid phone number" type="text" class="form-control" id="phone" placeholder="Enter phone number" required >
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input formControlName="password" type="password" minlength="6" class="form-control" id="password" placeholder="Enter Password" required >
      </div>
      <div class="form-group">
        <label for="rePassword">Re-Enter Password</label>
        <input formControlName="rePassword"type="password" minlength="6" class="form-control" id="rePassword" placeholder="Re-Enter Password" required >
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </div>
</div>
