input{
    background-color: #ffffff00;
    border: none;
    border-bottom: #cecece 1px solid;
    border-radius: 0;
}

input:focus {
    background-color: #ffffff00;
    box-shadow: none;
    border-bottom: #040959 2px solid
}

select{
    width: 90%;
    background-color: #ffffff00;
    color: gray;
    border: none;
    border-bottom: #cecece 1px solid;
    border-radius: 0;    
    height: 38px;
}

.des{
    color: #000000;
}

.container{
    padding: 5% 2%;
    padding-top: 0% !important;
    text-align:center;
}

.con{
    padding-bottom: 0% !important;
    padding-top: 5% !important;
}

.table{
    box-shadow: 0 3px #040959 ;
    background-color: #F2F2F2;
    color: #0D0D0D;
}

.search {
    width: 70%;
    margin: auto;
    margin-left: 80px;
}

.butn{
    width: 13%;
    margin: auto;
    margin-left: 1px;
    border: #040959 solid 1px;
    color: #040959;
}

.btnn{
    width: 50%;
}

.butn:hover{
    background-color: #040959;
    color: #F2F2F2;
}

td{
    width: 20%;
    vertical-align: middle;
}

.tr:hover{
    background-color: #040959 !important;
}

.tdId{
    width: 10%;
}

.ccc{
    padding-left: 20% ;    
}

.pagination1:hover{
    color: #0D0D0D !important;
}

@media only screen and (max-width: 800px) {
    .butn{
        font-size: 15px;
        width: 20%;
        height: 35px;
        margin: auto;
    }

    .search {
        width: 70%;
        margin: auto;
        margin-left: 20px;
    }

    table{
        font-size: 15px;
    }

    .btnn{
        font-size: 13px;
        width: 90%;
    }
}