<navbar></navbar>

<div class="container con">
  <div class="card" id="card">
    <h3>Search</h3>

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-primary btnn ">
        <input (click)='seid()' type="radio" name="options" id="option1" autocomplete="off" >By Id
      </label>
      <label class="btn btn-primary btnn">
        <input (click)='sene()' type="radio" name="options" id="option2" autocomplete="off">By Name
      </label>
      <label class="btn btn-primary btnn">
        <input (click)='sepr()' type="radio" name="options" id="option3" autocomplete="off">By Number of Projects
      </label>
    </div>

    <div [class.d-none]='!idse' class="form-group to">
      <form [formGroup]="serchIdForm" (ngSubmit)="searchId()" class="form-inline my-2 my-lg-0">
        <input formControlName="id" class="form-control mr-sm-2 search" name="id" id="id" type="number" placeholder="Enter ID" aria-label="Search" required>
        <button class="btn btn-outline-success my-2 my-sm-0 butn" type="submit">Search</button>
      </form>
    </div>

    <div [class.d-none]='!nese' class="form-group to">
      <form [formGroup]="serchNameForm" (ngSubmit)="searchName()" class="form-inline my-2 my-lg-0">
        <input formControlName="name" class="form-control mr-sm-2 search" name="name" id="name" type="text" placeholder="Enter Name" aria-label="Search" required>
        <button class="btn btn-outline-success my-2 my-sm-0 butn" type="submit">Search</button>
      </form>
    </div>

    <div [class.d-none]='!prse' class="form-group to">
      <form [formGroup]="serchProjectForm" (ngSubmit)="searchProj()" class="form-inline my-2 my-lg-0">
        <input formControlName="project" class="form-control mr-sm-2 search" name="project" id="project" type="number" placeholder="Enter Number of Projects" aria-label="Search" required>
        <button class="btn btn-outline-success my-2 my-sm-0 butn" type="submit">Search</button>
      </form>
    </div>

  </div>
</div>

<div [class.d-none]='!noShow' class="container con">
    <table class="table table-hover table-striped">
      <thead>
  
        <tr>
          <th class="tdId" scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Salary</th>
          <th scope="col">Delete from list</th>
        </tr>
      </thead>
      <tbody>
        
        <tr *ngFor='let employee of searchEmp' class="tr">
          <th class="tdId" scope="row">{{employee.id}}</th>
          <td>{{employee.name}}</td>
          <td>{{employee.salary}}</td>
          <td class="tdd"><button class="btn btn-outline-danger my-2 my-sm-0 btnnn" type="submit" (click)="deleteEmp(employee.id)">Delete</button></td>
        </tr>

      </tbody>
    </table>
  </div>