input{
    background-color: #ffffff00;
    border: none;
    border-bottom: #cecece 1px solid;
    border-radius: 0;
}

input:focus {
    background-color: #ffffff00;
    box-shadow: none;
    border-bottom: #040959 2px solid
}

select{
    width: 90%;
    background-color: #ffffff00;
    color: gray;
    border: none;
    border-bottom: #cecece 1px solid;
    border-radius: 0;    
    height: 38px;
}

.des{
    color: #000000;
}

.container{
    padding-top: 3% ;
    text-align:center;
}

.card{
    padding : 5% 10%;
    background-color: #F2F2F2;
    box-shadow: 0 3px #040959;
    color: #0D0D0D;
}

.search {
    width: 70%;
    margin: auto;
    margin-left: 80px;
}

.butn{
    width: 13%;
    margin: auto;
    margin-left: 1px;
    border: #040959 solid 1px;
    color: #040959;
}

.btnn{
    width: 50%;
    background-color: #040959;
    border-color: #040959;
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
}

.btnn:hover{
    background-color: #020633;
    border-color: #020633;
}

.btnnn{
    width: 50%;
}

.butn:hover{
    background-color: #050946;
    border-color: #050946;
    color: #F2F2F2;
}

.to{
    width: 100%;
    margin-right: 20%
}

.my-lg-0{
    margin-right: 5%
}

.table{
    box-shadow: 0 3px #040959 ;
    background-color: #F2F2F2;
    color: #0D0D0D;
    border-radius:5px;
}