.jumbotron{
    margin-top: 10%;
    background-color: #343a40;
    color: aliceblue;
    box-shadow: 0 3px #4dffff ;
}

.link {
    display: inline;
    color: aqua;
}

@media only screen and (max-width: 800px) {
    .jumbotron{
        margin-top: 50%;
    }

    h1{
        font-size: 200%
    }
}