.jumbotron{
    margin-top: 10%;
    background-color: #F2F2F2;
    color: #0D0D0D;
    box-shadow: 0 3px #040959 ;
}

.link {
    display: inline;
    color: #040959;
    font-weight: bold;
}

@media only screen and (max-width: 800px) {
    .jumbotron{
        margin-top: 50%;
    }

    h1{
        font-size: 200%
    }
}